.picture-container {
  width: 60%;
  height: auto;
  margin-top: 30px;
  margin-left: 20%;
  padding-top: 10px;
  padding-right: 5%;
  padding-bottom: 10px;
  padding-left: 5%;
  background-color: #fff;
}
.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 30px;
}
